.text,
.title {
  text-decoration: none;
  position: relative;
}
.title {
  line-height: 28px;
  font-weight: 700;
  color: inherit;
}
.text {
  font-size: var(--text-single-500-regular-size);
  line-height: 20px;
  color: var(--neutral-colors-600);
}
.pageTitle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.container {
  width: 1044px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.divider {
  width: 1045px;
  position: relative;
  border-top: 1px solid var(--neutral-colors-400);
  box-sizing: border-box;
  height: 1px;
}
.pageTopv1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--headings-typography-size-4-size);
  color: var(--neutral-colors-800);
  font-family: var(--paragraph-default);
}
