@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-blinker: Blinker;
  --paragraph-default: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-64xl: 83px;
  --text-single-200-regular-size: 12px;
  --paragraph-default-size: 14px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-61xl: 80px;
  --font-size-11xl: 30px;
  --text-single-500-regular-size: 18px;
  --text-single-400-medium-size: 16px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-77xl: 96px;
  --font-size-10xl: 29px;
  --font-size-29xl: 48px;
  --special-headings-display-3-size: 44px;
  --headings-typography-size-4-size: 22px;
  --font-size-17xl: 36px;
  --font-size-22xl: 41px;
  --font-size-6xl: 25px;

  /* Colors */
  --neutral-colors-100: #fff;
  --modern-version-secondary: #004f98;
  --system-colors-red-300: #ff5a65;
  --secondary-colors-800: #ff414c;
  --color-crimson-100: #ee2e31;
  --color-crimson-200: #dc2b2b;
  --secondary-colors-300: #f4f7ff;
  --secondary-colors-500: #f6f1ff;
  --neutral-colors-300: #e9eaf3;
  --neutral-colors-700: #303350;
  --color-blueviolet-100: #9747ff;
  --secondary-colors-600: #9240fb;
  --ui-1-primery: #0b1527;
  --neutral-colors-800: #0b0f2c;
  --modern-version-text: #0b0b0b;
  --color-black: #000;
  --neutral-colors-200: #f7f9fc;
  --color-whitesmoke-100: #f8f8f8;
  --neutral-colors-600: #6f7182;
  --secondary-colors-900: #fff7e8;
  --system-colors-orange-400: #d5691c;
  --system-colors-green-300: #14ca74;
  --neutral-colors-500: #989aad;
  --secondary-colors-1000: #ffb016;
  --neutral-colors-400: #cacbd7;
  --modern-version-tertiary: #5f5f5f;
  --color-darkgray: #959595;

  /* Spacing */
  --br-pill: 200px;
  --inputs-input-text-gaps-gap-medium: 8px;

  /* Gaps */
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-26xl: 45px;
  --gap-77xl: 96px;
  --gap-31xl: 50px;
  --gap-21xl: 40px;
  --gap-640xl: 659px;
  --gap-106xl: 125px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-8xl: 27px;
  --gap-xs: 12px;
  --gap-7xs: 6px;
  --gap-28xl: 47px;
  --gap-4xl: 23px;
  --gap-20xl: 39px;
  --gap-lgi: 19px;
  --gap-27xl: 46px;
  --gap-2xs: 11px;
  --gap-317xl: 336px;
  --gap-lg: 18px;
  --gap-81xl: 100px;
  --gap-3xs-9: 9.9px;
  --gap-5xs: 8px;
  --gap-sm: 14px;
  --gap-9xs: 4px;
  --gap-xl: 20px;
  --gap-9xl: 28px;
  --gap-25xl: 44px;
  --gap-11xs: 2px;
  --gap-148xl: 167px;
  --gap-3xs: 10px;
  --gap-40xl: 59px;
  --gap-109xl: 128px;
  --gap-3xl: 22px;
  --gap-13xl: 32px;
  --gap-5xs-4: 7.4px;
  --gap-82xl: 101px;
  --gap-6xl: 25px;
  --gap-52xl: 71px;
  --gap-16xl: 35px;
  --gap-7xl: 26px;
  --gap-54xl: 73px;
  --gap-71xl: 90px;
  --gap-103xl: 122px;
  --gap-base: 16px;

  /* Paddings */
  --padding-59xl: 78px;
  --padding-181xl: 200px;
  --padding-5xl: 24px;
  --padding-xs: 12px;
  --padding-xl: 20px;
  --padding-173xl: 192px;
  --padding-62xl: 81px;
  --padding-106xl: 125px;
  --padding-26xl: 45px;
  --padding-3xl: 22px;
  --padding-base: 16px;
  --padding-17xl: 36px;
  --padding-4xs: 9px;
  --padding-3xs: 10px;
  --padding-7xl: 26px;
  --padding-19xl: 38px;
  --padding-240xl: 259px;
  --padding-47xl: 66px;
  --padding-14xl: 33px;
  --padding-15xl: 34px;
  --padding-90xl: 109px;
  --padding-34xl: 53px;
  --padding-149xl: 168px;
  --padding-8xl: 27px;
  --padding-42xl: 61px;
  --padding-54xl: 73px;
  --padding-6xl: 25px;
  --padding-2xs: 11px;
  --padding-mini: 15px;
  --padding-mid: 17px;
  --padding-11xs-5: 1.5px;
  --padding-11xs: 2px;
  --padding-10xs: 3px;
  --padding-38xl: 57px;
  --padding-80xl: 99px;
  --padding-30xl: 49px;
  --padding-4xl: 23px;
  --padding-204xl: 223px;
  --padding-2xs-6: 10.6px;
  --padding-29xl: 48px;
  --padding-101xl: 120px;
  --padding-9xl: 28px;
  --padding-13xl: 32px;
  --padding-lg: 18px;
  --padding-5xs: 8px;
  --padding-sm: 14px;
  --padding-smi: 13px;
  --padding-117xl: 136px;
  --padding-10xs-5: 2.5px;
  --padding-278xl: 297px;
  --padding-174xl: 193px;
  --padding-131xl: 150px;
  --padding-78xl: 97px;
  --padding-22xl: 41px;
  --padding-44xl: 63px;
  --padding-24xl: 43px;
  --padding-191xl: 210px;
  --padding-18xl: 37px;
  --padding-46xl: 65px;
  --padding-41xl: 60px;
  --padding-11xl: 30px;
  --padding-21xl: 40px;
  --padding-10xl: 29px;

  /* Border radiuses */
  --br-23xl: 42px;
  --br-base: 16px;
  --br-21xl: 40px;
  --br-xs: 12px;
  --br-33xl: 52px;
  --br-11xl: 30px;
  --br-19xl: 38px;
  --br-5xl: 24px;
  --br-5xs: 8px;
  --br-61xl: 80px;
  --br-31xl: 50px;
  --br-181xl: 200px;
  --br-mini: 15px;
  --br-25xl: 44px;
  --br-29xl: 48px;
  --br-28xl: 47px;
  --br-13xl: 32px;
  --br-8xs: 5px;

  /* Effects */
  --elements-check-inner-shadow: drop-shadow(
    0px -2px 3px rgba(11, 22, 44, 0.1) inset
  );
  --button-shadows-white-01: 0px 4px 10px rgba(11, 14, 44, 0.04);
  --other-shadow-progress-bar: 0px 2px 9px rgba(20, 202, 116, 0.2);
  --general-shadow-02: 0px 2px 12px rgba(11, 22, 44, 0.05);
  --button-shadows-color-02: 0px 4px 10px rgba(20, 118, 255, 0.19);
  --general-shadow-01: 0px 2px 10px rgba(25, 93, 194, 0.07);
}
